# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# hosting / deployment platforms
.vercel/
.netlify/
/.output/

# debug / profiling
coverage/
*.lcov

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
