/* assets/scss/partials/_loader.scss */

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-bg-1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: $z-index-loader;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.loading-screen.fade-out {
    opacity: 0;
    pointer-events: none;
}

.loading-content {
    text-align: center;
}

.loading-logo {
    width: 64px;
    animation: logoAnimation 1.5s ease-in-out infinite;
}