@import "tailwindcss";
@import "@styles/theme.css";

@custom-variant dark {
  &:where([data-theme="dark"], [data-theme="dark"] *) {
    @slot;
  }
  @media (prefers-color-scheme: dark) {
    &:where(:root:not([data-theme]), :root:not([data-theme]) *) {
      @slot;
    }
  }
}

@font-face {
  font-family: "Google Sans Flex";
  font-style: normal;
  font-weight: 400 700;
  font-display: optional;
  src: url("/fonts/google-sans-flex.woff2") format("woff2");
}
