@import "tailwindcss";

@font-face {
    font-family: 'ClashDisplay';
    src: url('/fonts/ClashDisplay.woff2') format('woff2'),
        url('/fonts/ClashDisplay.woff') format('woff');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'GeneralSans';
    src: url('/fonts/GeneralSans.woff2') format('woff2'),
        url('/fonts/GeneralSans.woff') format('woff');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

body {
    padding-top: 4rem;
    font-family: 'GeneralSans', system-ui, -apple-system, sans-serif;
}

.font-title {
    font-family: 'ClashDisplay', system-ui, -apple-system, sans-serif !important;
}