/* assets/scss/_footer.scss */

.footer {
    background-color: var(--color-bg-2);
    padding: 2rem 0;
    width: 100%;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 0 1rem;
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    align-items: center;
    justify-content: center;
}

.footer-brand {
    display: flex;
    align-items: center;
}

.footer-logo {
    width: 36px;
    transition: transform 0.2s ease;
}

.footer-logo:hover {
    transform: rotate(360deg);
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: flex-start;
}

.footer-links-item {
    min-width: 150px;
}

.footer-title {
    margin-bottom: 1rem;
    color: var(--color-accent);
    font-size: 1.1rem;
    text-align: left;
}

.footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.footer-link {
    text-decoration: none;
    color: var(--color-text-secondary);
}

.footer-link:hover {
    color: var(--color-accent);
    text-decoration: underline;
}

.footer-social {
    display: flex;
    gap: .5rem;
    margin-top: 0.5rem;
}

.footer-social-link {
    color: var(--color-text-secondary);
    font-size: 1.4rem;
    text-decoration: none;
}

.footer-social-link[href*="linkedin.com"]:hover i {
    color: #0077b5;
}

.footer-social-link[href*="github.com"]:hover i {
    color: #000;
}

.footer-social-link[href*="dribbble.com"]:hover i {
    color: #ea4c89;
}

.footer-social-link[href^="mailto"]:hover i {
    color: var(--color-accent);
}

.footer-bottom {
    margin-top: 2rem;
    border-top: 1px solid var(--color-border);
    padding-top: 1rem;
    font-size: 0.8rem;
    color: var(--color-text-secondary);
}

@media (max-width: 768px) {
    .footer-container {
        text-align: left;
    }

    .footer-top {
        align-items: center;
        justify-content: flex-start;
        gap: 2.5rem;
    }

    .footer-links {
        gap: 2rem;
    }

    .footer-bottom {
        padding-top: 1rem;
    }
}