// assets/scss/main.scss

@import "navbar";
// @import "footer";
// @import "pages";

@font-face {
    font-family: 'ABCFavoritVariable';
    src: url('/fonts/ABCFavoritVariable.woff2') format('woff2'),
        url('/fonts/ABCFavoritVariable.woff') format('woff'),
        url('/fonts/ABCFavoritVariable.ttf') format('truetype');
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
}

:root {
    /* Light mode colors */
    --color-bg-1: #fff;
    --color-bg-2: #f9f9f9;
    --color-navbar: rgba(255, 255, 255, 0.8);
    --color-border: #ddd;
    --color-text-primary: #000;
    --color-text-secondary: #5c5c5c;
    --color-text-pure: #fff;
    /* Z-index */
    --z-index-navbar: 12;
    --z-index-mobile-menu: 10;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'ABCFavoritVariable';
    background-color: var(--bg-color-1);
    padding: 80px 30px;
}