// assets/scss/main.scss

/* Layout variables */
$navbar-height: 50px;
/* Z-index variables */
$z-index-loader: 13;
$z-index-navbar: 12;
$z-index-mobile-menu: 10;
/* Border radius variables */
$border-radius-lg: 16px;
$border-radius-md: 12px;
$border-radius-sm: 8px;

// Base styles and animations
@import 'partials/animations';
@import 'partials/navbar';
@import 'partials/footer';
@import 'partials/loader';

// Page components
@import 'partials/components/services';

// Pages
@import 'index';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bricolage Grotesque', sans-serif;
    background-color: var(--color-bg-1);
    margin-top: $navbar-height;
}