---
import Layout from "../../layouts/Layout.astro";
import Landing from "../../components/contact/Landing.astro";
import Form from "../../components/contact/Form.astro";
import Sidebar from "../../components/contact/Sidebar.astro";
import t from "../../i18n/en";
---

<Layout t={t}>
  <Landing {...t.contact.landing} />
  <section class="px-6">
    <div class="mx-auto max-w-7xl">
      <div class="grid gap-12 lg:grid-cols-3">
        <div class="lg:col-span-2">
          <Form {...t.contact} />
        </div>
        <div class="lg:col-span-1">
          <Sidebar {...t.contact.sidebar} form={t.contact.form} />
        </div>
      </div>
    </div>
  </section>
</Layout>
