<!-- layouts/_default/baseof.html -->

<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <!-- Favicon -->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap">
    <!-- CSS -->
    {{ $styles := resources.Get "scss/main.scss" | css.Sass | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Javascript -->
    {{ $loader := resources.Get "js/loader.js" | js.Build | minify | fingerprint }}
    <script defer src="{{ $loader.RelPermalink }}" integrity="{{ $loader.Data.Integrity }}"></script>
    {{ $navbar := resources.Get "js/navbar.js" | js.Build | minify | fingerprint }}
    <script defer src="{{ $navbar.RelPermalink }}" integrity="{{ $navbar.Data.Integrity }}"></script>
    {{ $theme := resources.Get "js/theme.js" | js.Build | minify | fingerprint }}
    <script defer src="{{ $theme.RelPermalink }}" integrity="{{ $theme.Data.Integrity }}"></script>
    {{ block "head_scripts" . }}{{ end }}
</head>

<body>
    {{ partial "loader.html" . }}
    {{ partial "navbar.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
</body>

</html>