<!-- layouts/_default/baseof.html -->

<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <!-- Favicon -->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <!-- CSS -->
    {{ $styles := resources.Get "scss/main.scss" | css.Sass | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
    <!-- Boxicons -->
    <!-- Javascript -->
    {{ $navbar := resources.Get "js/navbar.js" | js.Build | minify | fingerprint }}
    <script defer src="{{ $navbar.RelPermalink }}" integrity="{{ $navbar.Data.Integrity }}"></script>
</head>

<body>
    {{ partial "partials/_navbar.html" . }}
    {{ block "main" . }}{{ end }}
</body>

</html>