---
import Layout from "../layouts/Layout.astro";
import Landing from "../components/contact/Landing.astro";
import Form from "../components/contact/Form.astro";
import Progress from "../components/contact/Progress.astro";
import Sidebar from "../components/contact/Sidebar.astro";
import translation from "../i18n/it";
const t = translation();
---

<Layout t={t}>
  <Landing {...t.contact.landing} />
  <section class="px-6 pb-24">
    <div class="mx-auto max-w-7xl">
      <div class="grid gap-8 lg:grid-cols-3 lg:gap-12">
        <div class="lg:col-span-2">
          <Progress progress={t.contact.sidebar.progress} form={t.contact.form} />
          <Form {...t.contact} />
        </div>
        <div class="lg:col-span-1">
          <Sidebar {...t.contact.sidebar} />
        </div>
      </div>
    </div>
  </section>
</Layout>
