---
import Layout from '../layouts/Layout.astro';
import Header from '../components/global/Header.astro';
import Hero from '../components/home/Hero.astro';
import Services from '../components/home/Services.astro';
import Portfolio from '../components/home/Portfolio.astro';
import Faq from '../components/home/Faq.astro';
import Resume from '../components/home/Resume.astro';
import Promotional from '../components/home/Promotional.astro';
import Footer from '../components/global/Footer.astro';
---

<Layout>
	<Header />
	<main class="space-y-0">
		<Hero />
		<Services />
		<Portfolio />
		<Resume />
		<Faq />
		<Promotional />
	</main>
	<Footer />
</Layout>