<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center sm:py-16 lg:px-6">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">The most trusted cryptocurrency platform</h2>
        <p class="text-gray-500 sm:text-xl dark:text-gray-400">Here are a few reasons why you should choose Flowbite</p>
        <div class="mt-8 lg:mt-12 space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
            <div>
                <svg class="mx-auto mb-4 w-12 h-12 text-blue-600 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 8-4 4 4 4m8 0 4-4-4-4m-2-3-4 14"/></svg>
                <h3 class="mb-2 text-xl font-bold dark:text-white">Web Development</h3>
                <p class="mb-4 text-gray-500 dark:text-gray-400">We store the vast majority of the digital assets in secure offline storage.</p>
            </div>
            <div>
                <svg class="mx-auto mb-4 w-12 h-12 text-blue-600 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M5.005 10.19a1 1 0 0 1 1 1v.233l5.998 3.464L18 11.423v-.232a1 1 0 1 1 2 0V12a1 1 0 0 1-.5.866l-6.997 4.042a1 1 0 0 1-1 0l-6.998-4.042a1 1 0 0 1-.5-.866v-.81a1 1 0 0 1 1-1ZM5 15.15a1 1 0 0 1 1 1v.232l5.997 3.464 5.998-3.464v-.232a1 1 0 1 1 2 0v.81a1 1 0 0 1-.5.865l-6.998 4.042a1 1 0 0 1-1 0L4.5 17.824a1 1 0 0 1-.5-.866v-.81a1 1 0 0 1 1-1Z" clip-rule="evenodd"/><path d="M12.503 2.134a1 1 0 0 0-1 0L4.501 6.17A1 1 0 0 0 4.5 7.902l7.002 4.047a1 1 0 0 0 1 0l6.998-4.04a1 1 0 0 0 0-1.732l-6.997-4.042Z"/></svg>
                <h3 class="mb-2 text-xl font-bold dark:text-white">UI/UX Design</h3>
                <p class="mb-4 text-gray-500 dark:text-gray-400">Flowbite maintains crypto insurance and all USD cash balances are covered.</p>
            </div>
            <div>
                <svg class="mx-auto mb-4 w-12 h-12 text-blue-600 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4.5V19a1 1 0 0 0 1 1h15M7 14l4-4 4 4 5-5m0 0h-3.207M20 9v3.207"/></svg>                  
                <h3 class="mb-2 text-xl font-bold dark:text-white">SEO & Best Practices</h3>
                <p class="mb-4 text-gray-500 dark:text-gray-400">Flowbite marketplace supports a variety of the most popular digital currencies.</p>
            </div>
        </div>
    </div>
</section>