---
const techs = [
{ name: 'HTML', icon: '/icons/html.svg' },
{ name: 'CSS', icon: '/icons/css.svg' },
{ name: 'JavaScript', icon: '/icons/javascript.svg' },
{ name: 'Python', icon: '/icons/python.svg' },
{ name: 'Astro', icon: '/icons/astro.svg' },
{ name: 'Hugo', icon: '/icons/hugo.svg' },
{ name: 'Node.js', icon: '/icons/nodejs.svg' },
{ name: 'Tailwind', icon: '/icons/tailwind.svg' },
{ name: 'Git', icon: '/icons/git.svg' },
{ name: 'Vercel', icon: '/icons/vercel.svg', darkInvert: true},
{ name: 'Cloudflare', icon: '/icons/cloudflare.svg' },
{ name: 'GitHub', icon: '/icons/github.svg' , darkInvert: true },
{ name: 'GitBook', icon: '/icons/gitbook.svg' , darkInvert: true },
{ name: 'VS Code', icon: '/icons/vscode.svg' },
{ name: 'Figma', icon: '/icons/figma.svg' },
{ name: 'Framer', icon: '/icons/framer.svg' }
];
const repeatedTechs = [...techs, ...techs];
---

<section class="my-8">
    <div class="relative overflow-hidden w-full py-4">
        <!-- Dissolvenza sinistra -->
        <div class="pointer-events-none absolute left-0 top-0 h-full w-16 bg-gradient-to-r from-gray-50 dark:from-gray-900 to-transparent z-10"></div>
        <!-- Dissolvenza destra -->
        <div class="pointer-events-none absolute right-0 top-0 h-full w-16 bg-gradient-to-l from-gray-50 dark:from-gray-900 to-transparent z-10"></div>
        <!-- Contenuto scorrevole -->
        <div class="whitespace-nowrap flex animate-scroll relative" style="animation: scroll-left 40s linear infinite; width: max-content;">
            {repeatedTechs.map((tech, index) => (
            <div class="flex items-center gap-3 bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 text-gray-800 dark:text-white px-5 py-3 mx-3 rounded-lg text-base font-medium">
                <img src={tech.icon} alt={tech.name} class={`w-6 h-6 ${tech.darkInvert ? 'dark:invert' : ''}`} />
                <span>{tech.name}</span>
            </div>
            ))}
        </div>
    </div>
</section>