<!-- Tech Stack Component with scrolling animation -->
<div class="tech-stack-container bg-white dark:bg-gray-900 py-10">
    <div class="max-w-screen-xl mx-auto px-4">
        <!-- Scrolling tech stack container -->
        <div class="tech-scroll-container overflow-hidden relative">
            <!-- Single row - scrolls infinitely -->
            <div class="tech-row flex animate-scroll py-4">
                <!-- Tech icons -->
                <div class="tech-icon mx-6">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="HTML5" class="h-12 w-12 md:h-16 md:w-16" />
                </div>
                <div class="tech-icon mx-6">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" alt="CSS3" class="h-12 w-12 md:h-16 md:w-16" />
                </div>
                <div class="tech-icon mx-6">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="JavaScript" class="h-12 w-12 md:h-16 md:w-16" />
                </div>
                <div class="tech-icon mx-6">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" alt="TypeScript" class="h-12 w-12 md:h-16 md:w-16" />
                </div>
                <div class="tech-icon mx-6">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" alt="React" class="h-12 w-12 md:h-16 md:w-16" />
                </div>
                <div class="tech-icon mx-6">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" alt="Node.js" class="h-12 w-12 md:h-16 md:w-16" />
                </div>
                <div class="tech-icon mx-6">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/astro/astro-original.svg" alt="Astro" class="h-12 w-12 md:h-16 md:w-16" />
                </div>
                <div class="tech-icon mx-6">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg" alt="MongoDB" class="h-12 w-12 md:h-16 md:w-16" />
                </div>
                <div class="tech-icon mx-6">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" alt="MySQL" class="h-12 w-12 md:h-16 md:w-16" />
                </div>
                <div class="tech-icon mx-6">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" alt="PostgreSQL" class="h-12 w-12 md:h-16 md:w-16" />
                </div>
                <div class="tech-icon mx-6">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="GitHub" class="h-12 w-12 md:h-16 md:w-16 dark:invert" />
                </div>
                <div class="tech-icon mx-6">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg" alt="Docker" class="h-12 w-12 md:h-16 md:w-16" />
                </div>
                <div class="tech-icon mx-6">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-original.svg" alt="Next.js" class="h-12 w-12 md:h-16 md:w-16 dark:invert" />
                </div>
                <div class="tech-icon mx-6">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg" alt="Figma" class="h-12 w-12 md:h-16 md:w-16" />
                </div>
                <div class="tech-icon mx-6">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg" alt="VS Code" class="h-12 w-12 md:h-16 md:w-16" />
                </div>
                
                <!-- Duplicate icons to create seamless loop -->
                <div class="tech-icon mx-6">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="HTML5" class="h-12 w-12 md:h-16 md:w-16" />
                </div>
                <div class="tech-icon mx-6">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" alt="CSS3" class="h-12 w-12 md:h-16 md:w-16" />
                </div>
                <div class="tech-icon mx-6">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="JavaScript" class="h-12 w-12 md:h-16 md:w-16" />
                </div>
                <div class="tech-icon mx-6">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" alt="TypeScript" class="h-12 w-12 md:h-16 md:w-16" />
                </div>
                <div class="tech-icon mx-6">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" alt="React" class="h-12 w-12 md:h-16 md:w-16" />
                </div>
                <div class="tech-icon mx-6">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" alt="Node.js" class="h-12 w-12 md:h-16 md:w-16" />
                </div>
                <div class="tech-icon mx-6">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-plain.svg" alt="Tailwind CSS" class="h-12 w-12 md:h-16 md:w-16" />
                </div>
                <div class="tech-icon mx-6">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/astro/astro-original.svg" alt="Astro" class="h-12 w-12 md:h-16 md:w-16" />
                </div>
            </div>
        </div>
    </div>
</div>

<style>
.tech-scroll-container {
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}

.animate-scroll {
    animation: scroll 40s linear infinite;
    display: flex;
    width: max-content;
}

@keyframes scroll {
    0% {
    transform: translateX(0);
    }
    100% {
    transform: translateX(calc(-50%));
    }
}
</style>