<section class="bg-white dark:bg-black min-h-screen flex items-center justify-center px-6 relative">
    <div class="max-w-5xl mx-auto text-center relative">
        <h1 class="text-4xl md:text-7xl lg:text-8xl font-bold text-black dark:text-white mb-10 leading-[0.9]">
            <span class="block md:inline font-black">Il tuo nuovo sito. <span class="text-sky-500">Fatto come si deve.</span></span>
        </h1>
        <p class="text-xl md:text-2xl text-gray-500 dark:text-gray-400 mb-16 max-w-xl mx-auto leading-6 font-normal">
            Progetto e sviluppo siti web web curati, veloci e su misura per dare valore alla tua attività online.
        </p>
        <div class="relative inline-block group">
            <a href="#" class="bg-sky-500 text-white dark:text-black px-6 py-3 md:px-8 md:py-4 text-sm md:text-base font-semibold rounded-full tracking-wide relative inline-flex items-center gap-2 border border-sky-600 hover:bg-sky-600 transition-all duration-200">
                Inizia Ora
                <svg class="w-4 h-4 md:w-5 md:h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                </svg>
            </a>
        </div>
    </div>
</section>