<!-- layouts/partials/_footer.html -->
<footer class="footer">
    <div class="footer-container">
        <div class="footer-content">
            <div class="footer-logo">DLM</div>
            <div class="footer-links">
                <div class="footer-column">
                    <h3>Navigation</h3>
                    <a href="#" class="footer-link">Home</a>
                    <a href="#about" class="footer-link">About</a>
                    <a href="#work" class="footer-link">Work</a>
                    <a href="#contact" class="footer-link">Contact</a>
                </div>
                <div class="footer-column">
                    <h3>Connect</h3>
                    <a href="#" class="footer-link external-link">LinkedIn<svg class="external-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="12" height="12"><path fill="none" d="M0 0h24v24H0z"/><path d="M10 6v2H5v11h11v-5h2v6a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h6zm11-3v9h-2V6.413l-7.793 7.794-1.414-1.414L17.585 5H13V3h8z"/></svg></a>
                    <a href="#" class="footer-link external-link">GitHub<svg class="external-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="12" height="12"><path fill="none" d="M0 0h24v24H0z"/><path d="M10 6v2H5v11h11v-5h2v6a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h6zm11-3v9h-2V6.413l-7.793 7.794-1.414-1.414L17.585 5H13V3h8z"/></svg></a>
                    <a href="#" class="footer-link external-link">Twitter<svg class="external-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="12" height="12"><path fill="none" d="M0 0h24v24H0z"/><path d="M10 6v2H5v11h11v-5h2v6a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h6zm11-3v9h-2V6.413l-7.793 7.794-1.414-1.414L17.585 5H13V3h8z"/></svg></a>
                    <a href="#" class="footer-link external-link">Email<svg class="external-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="12" height="12"><path fill="none" d="M0 0h24v24H0z"/><path d="M10 6v2H5v11h11v-5h2v6a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h6zm11-3v9h-2V6.413l-7.793 7.794-1.414-1.414L17.585 5H13V3h8z"/></svg></a>
                </div>
                <div class="footer-column">
                    <h3>Legal</h3>
                    <a href="#" class="footer-link">Privacy Policy</a>
                    <a href="#" class="footer-link">Terms of Use</a>
                    <a href="#" class="footer-link">Cookie Policy</a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; {{ now.Format "2006" }} Davide La Marca. All rights reserved.</p>
        </div>
    </div>
</footer>