<!-- layouts/partials/navbar.html -->

<header>
    <nav class="navbar" id="navbar">
        <a href="#" class="navbar-logo">
            <img src="favicon.ico" alt="Icon" class="navbar-logo-icon">
            davidelamarca
        </a>
        <div class="navbar-links">
            <a href="#" class="navbar-link">Home</a>
            <a href="#" class="navbar-link">Projects</a>
            <a href="#" class="navbar-link">Blog</a>
            <a href="#" class="navbar-link">Contact</a>
        </div>
        <!-- Desktop controls container -->
        <div class="navbar-controls">
            <button class="theme-btn desktop-theme-btn" aria-label="Tema">
                <i class="bx bx-sun"></i>
            </button>
            <button class="navbar-cta">Get in Touch</button>
        </div>
        <div class="navbar-menu-toggle" id="navbar-menu-toggle">
            <span></span>
            <span></span>
        </div>
    </nav>
</header>

<!-- Mobile menu -->
<div class="navbar-mobile-menu" id="navbar-mobile-menu">
    <a href="#" class="navbar-link">Home</a>
    <a href="#" class="navbar-link">Project</a>
    <a href="#" class="navbar-link">Blog</a>
    <a href="#" class="navbar-link">Contact</a>
    <button class="navbar-mobile-cta">Get in Touch  </button>
    <!-- Mobile theme button: appears only in mobile -->
    <button class="theme-btn mobile-theme-btn" aria-label="Tema">
        <i class="bx bx-sun"></i>
    </button>
</div>