<!-- layouts/partials/navbar.html -->

<nav class="navbar">
    <div class="navbar__container">
        <a href="/" class="navbar__brand">
            <img src="favicon.ico" alt="Logo" class="navbar__logo">
            <span class="navbar__brand-name">davidelamarca</span>
        </a>

        <div class="navbar__menu-toggle" id="menu-toggle">
            <div class="navbar__bar"></div>
            <div class="navbar__bar"></div>
            <div class="navbar__bar"></div>
        </div>

        <div class="navbar__menu">
            <ul class="navbar__list">
                <li class="navbar__item"><a href="/" class="navbar__link">Home</a></li>
                <li class="navbar__item"><a href="/projects" class="navbar__link">Progetti</a></li>
                <li class="navbar__item"><a href="/blog" class="navbar__link">Blog</a></li>
                <li class="navbar__item"><a href="/contact" class="navbar__link">Contatti</a></li>
            </ul>

            <div class="navbar__actions">
                <div class="navbar__theme-toggle">
                    <label class="navbar__theme-switch">
                        <input type="checkbox" class="navbar__theme-input" id="theme-toggle">
                        <span class="navbar__theme-slider">
                            <i class="bx bx-sun navbar__theme-icon navbar__theme-icon--light"></i>
                            <i class="bx bx-moon navbar__theme-icon navbar__theme-icon--dark"></i>
                        </span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</nav>