{{ define "head_scripts" }}
    {{ $error404 := resources.Get "js/404.js" | js.Build | minify | fingerprint }}
    <script defer src="{{ $error404.RelPermalink }}" integrity="{{ $error404.Data.Integrity }}"></script>
{{ end }}

{{ define "main" }}
<section class="error-404">
    <div class="error-404__bounce-container" id="bounce-container">
        <div class="error-404__bounce-logo" id="bounce-logo">404</div>
    </div>
    <div class="error-404__content">
        <h1 class="error-404__title">Pagina non trovata</h1>
        <p class="error-404__message">Oops! La pagina che stai cercando non esiste.</p>
        <a href="/" class="error-404__button">Torna alla Home</a>
    </div>
</section>
{{ end }}