---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="it">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Davide La Marca</title>
		<script src="/src/scripts/navbar.js"></script>
	</head>
	<body class="bg-white dark:bg-black">
		<Navbar />
		<slot />	
	</body>
</html>