---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
const { t } = Astro.props;
---

<!doctype html>
<html lang={t.lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{t.meta.title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet" />
    <script src="/src/scripts/navbar.js"></script>
    <script src="/src/scripts/theme.js"></script>
  </head>
  <body class="bg-white dark:bg-black">
    <Navbar {...t.navbar} />
    <slot />
    <Footer {...t.footer} />
  </body>
</html>
